# common
RDS_LOG_PATH=

# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# selenium
SELENIUM_HUB_URL=
SELENIUM_NODE_MAX_CONTAINERS=
SELENIUM_NODE_MAX_INSTANCES=
