[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gevent = "*"
python-dotenv = "*"
"psycopg2" = "*"
selenium = "*"
requests = "*"
lxml = "*"
cssselect = "*"


[dev-packages]



[requires]

python_version = "3.6"
